.slider{
    display: flex;
    gap: 10px;
    max-width: 100%;
    .small-slider{
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 640px;
        overflow: auto;
        overflow-x: hidden;
        .slider-item{
            cursor: pointer;
            img{
            width: 88px;
            height: 88px;
            }
        }
        &::-webkit-scrollbar {
        display: none;
        }
    }
}
.slider-container{
    height: auto;
    max-width: 600px;
    cursor: grab;
    overflow: hidden;

    .slide-item{
        position: relative;
    }

}

.slider-line{
    display: flex;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.arrowHolder{
    cursor: pointer;
    background-color: #363636;
    opacity: .7;
    width: 44px;
    height: 44px;
    border: none;
    top: 50%;
    &:hover{
        background-color:#4a4c4c;
    }
    img{
        width: 18px;
        height: 22px;
    }
}
.left-arrow{
    position: absolute;
    left: 0px;
    transform: translateY(-50%);
    margin-left: 20px;
}
.right-arrow{
    position: absolute;
    right: 0px;
    transform: translateY(-50%);

    margin-right: 20px;
}

.slider-container.active{
cursor: grabbing;

}