
.product-card{
    position: relative;

    margin-bottom: 50px;
    h3{
        padding: 18px 0px 16px 0;
        height: 80px;

        @media (max-width: 888px) {
            height: 100px;
        }
    }

    .product-image{
        max-width: 600px;

        @media(max-width: 1400px) {
            max-width: 100%;
        }
    }
}
.bottom-card{

    display: flex;
    justify-content: space-between;

    @media(max-width: 581px){
        margin-top: 20px;;
    }
}   
.bottom-card p{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
}

.like{
    padding: 16px;
    cursor: pointer;
    position: absolute;
}
a{
    text-decoration: none;
    color: black;
}