@import '../../styles/variables.scss';

.home-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home{
    padding-top: 125px;
    position: relative;
    background-image: url("./images/flower-pattern.png");
    background-repeat: no-repeat;
    background-position: top;


    .home-content{
        max-width: 682px;
    }
    h1{
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 74px;
line-height: 55px;
text-transform: capitalize;
color: #000000;
padding-bottom: 52px;

    }
    p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 55px;
text-transform: capitalize;
color: #000000;
padding-bottom: 66px;
    }
    button{
        margin-bottom: 154px;
    }
    @media(max-width: 1200px){
        h1{
            font-size: 54px;
        }
        p{
            font-size: 24px;
        }
        .home-content{
            max-width: 420px;
        }
        .home-holder{
            margin-bottom: 100px;
        }
    }
    @media(max-width:820px){
        .home-holder{
            flex-direction: column-reverse;
        }
        .home-content{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}


.home-btn{
    text-decoration: none;
    background: $btn-color;
    color: white;
    padding: 12px 26px;
    width: 160px;
    display: flex;
    align-items: center;
    border: none;
    img{
        height: 30px;
        width: 30px;
    }
}

.woman-img{
    padding-bottom: 50px;

    img{
        max-width: 100%;
    }
}

.brands{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;

    @media(max-width:480px){
        justify-content: center;
    }
}

.explore-grid{
    margin-bottom: 150px;
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr;

    @media(max-width:1360px){
        
        grid-template-columns: repeat(2, 1fr);
        .model1{
            grid-column: 1/3;
        }
    }

    @media(max-width:660px){
        grid-template-columns: repeat(1, 1fr);
        .model1{
            grid-column: 1;
        }
        img{
            max-width: 100%;
        }
    }
}

.model1{    
    grid-row: 1/3;
    grid-column: 1/2;
}

.centered-styles{
    display: flex;
    justify-content: center;
}