
.product-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;

    @media(max-width:800px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width:500px){
        grid-template-columns: repeat(1, 1fr);
    }
  }
  
.products{
    padding-top: 50px;
}

.products h1{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    text-transform: capitalize;
    color: #000000;
    padding-bottom: 32px;
}